<h1>Rendered_Faces_Dashboard</h1>
<section class="insert">
    <h3>Insert Data</h3>
    <form action="/insert" method="post">
        <div class="input">
            <label for="title">Name</label>
            <input type="text" id="Name" name="Name">
        </div>
        <div class="input">
            <label for="content">RobotType</label>
            <input type="text" id="$robot type" name="$robot type">
        </div>
        <div class="input">
            <label for="author">Category</label>
            <input type="text" id="category" name="category">
        </div>
        <button type="submit">INSERT</button>
    </form>
</section>
<troll>
    <a href="/get-data" style="color:blue">Data</a>
</troll>