<section class="get">
    <h3>Data</h3>
    <div>
        {{# each items }}
            <article class="item">
                <div>Name: <a href= '/display' style="color:blue">{{this.Name}}</a> </div>
                <div>ID: {{ this._id }}</div>
            </article>
        {{/each}}
    </div>
</section>
<troll>
    <a href="/" style="color:blue">Insert</a>
</troll>