<h1>Rendered_Faces_Dashboard</h1>
<section class="insert">
    <h3>Insert Data</h3>
    <form action="/insert" method="post">
        <div class="input">
            <label for="title">Name</label>
            <input type="text" id="Name" name="Name">
        </div>
        <div class="input">
            <label for="content">Robot Type</label>
            <input type="text" id="$robot type" name="$robot type">
        </div>
        <div class="input">
            <label for="author">Category</label>
            <input type="text" id="category" name="category">
        </div>
        <div class="input">
            <label for="content">Full Head</label>
            <input type="text" id="$full head" name="$full head">
        </div>
        <div class="input">
            <label for="content">Screen Type</label>
            <input type="text" id="$screen type" name="$screen type">
        </div>
        <div class="input">
            <label for="content">Mouth</label>
            <input type="text" id="mouth" name="mouth">
        </div>
        <div class="input">
            <label for="content">Nose</label>
            <input type="text" id="nose" name="nose">
        </div>

        <div class="input">
            <label for="content">Eyebrows</label>
            <input type="text" id="eyebrows" name="eyebrows">
        </div>

        <div class="input">
            <label for="content">Cheeks Blush</label>
            <input type="text" id="$cheeks blush" name="$cheeks blush">
        </div>

        <div class="input">
            <label for="content">Physical Features</label>
            <input type="text" id="$physical features" name="$physical features">
        </div>

        <div class="input">
            <label for="content">Robot Height</label>
            <input type="text" id="$robot height" name="$robot height">
        </div>

        <div class="input">
            <label for="content">Embodiment</label>
            <input type="text" id="embodiment" name="embodiment">
        </div>

        <div class="input">
            <label for="content">Face Color</label>
            <input type="text" id="$face color" name="$face color">
        </div>

        <div class="input">
            <label for="content">Face Turns Other Colors</label>
            <input type="text" id="$face turns other colors" name="$face turns other colors">
        </div>

        <div class="input">
            <label for="content">Face Gradient To</label>
            <input type="$face gradient to" id="nose" name="$face gradient to">
        </div>

        <div class="input">
            <label for="content">Face Shape</label>
            <input type="text" id="$face shape" name="$face shape">
        </div>

        <div class="input">
            <label for="content">Screen Size</label>
            <input type="text" id="$screen size" name="$screen size">
        </div>

        <div class="input">
            <label for="content">Head Motion</label>
            <input type="text" id="$head motion" name="$head motion">
        </div>

        <div class="input">
            <label for="content">Face Motion</label>
            <input type="text" id="$face motion" name="$face motion">
        </div>

        <div class="input">
            <label for="content">Info Display</label>
            <input type="text" id="$info display" name="$info display">
        </div>

        <div class="input">
            <label for="content">Eye Color</label>
            <input type="text" id="$eye color" name="$eye color">
        </div>

        <div class="input">
            <label for="content">Eye Outline Color</label>
            <input type="text" id="$eye outline color" name="$eye outline color">
        </div>

        <div class="input">
            <label for="content">Eye Turns Other Colors Inside</label>
            <input type="text" id="$eye turns other colors inside" name="$eye turns other colors inside">
        </div>

        <div class="input">
            <label for="content">Eye Shape</label>
            <input type="text" id="$eye shape" name="$eye shape">
        </div>

        <div class="input">
            <label for="content">Eye Turns Other Shape</label>
            <input type="text" id="$eye turns other shape exclude blink" name="$eye turns other shape exclude blink">
        </div>

        <div class="input">
            <label for="content">Pupil</label>
            <input type="text" id="pupil" name="pupil">
        </div>

        <div class="input">
            <label for="content">Pupil Color</label>
            <input type="text" id="$pupil color" name="$pupil color">
        </div>

        <div class="input">
            <label for="content">Lid</label>
            <input type="text" id="lid" name="lid">
        </div>

        <div class="input">
            <label for="content">Iris</label>
            <input type="text" id="iris" name="iris">
        </div>

        <div class="input">
            <label for="content">Lashes Color</label>
            <input type="text" id="$lashes color" name="$lashes color">
        </div>

        <div class="input">
            <label for="content">Lash Shape</label>
            <input type="text" id="$lash shape" name="$lash shape">
        </div>

        <div class="input">
            <label for="content">Reflected Glare Color</label>
            <input type="text" id="$reflected glare color" name="$reflected glare color">
        </div>

        <div class="input">
            <label for="content">Number Glare Circles</label>
            <input type="text" id="$number glare circles" name="$number glare circles">
        </div>

        <div class="input">
            <label for="content">Blink Type</label>
            <input type="text" id="$blink type" name="$blink type">
        </div>

        <div class="input">
            <label for="content">Pupil Shapes</label>
            <input type="text" id="$pupil shapes" name="$pupil shapes">
        </div>

        <div class="input">
            <label for="content">Eye Motion</label>
            <input type="text" id="$eye motion" name="$eye motion">
        </div>

        <div class="input">
            <label for="content">Pupil And/Or Iris Motion</label>
            <input type="text" id="$pupil and or iris motion" name="$pupil and or iris motion">
        </div>

        <div class="input">
            <label for="content">Glare Motion</label>
            <input type="text" id="$glare motion" name="$glare motion">
        </div>

        <div class="input">
            <label for="content">Wink</label>
            <input type="text" id="wink" name="wink">
        </div>

        <div class="input">
            <label for="content">Eye Size</label>
            <input type="text" id="$eye size" name="$eye size">
        </div>

        <div class="input">
            <label for="content">Eye Placement</label>
            <input type="text" id="$eye placement" name="$eye placement">
        </div>

        <div class="input">
            <label for="content">Eye Spacing</label>
            <input type="text" id="$eye spacing" name="$eye spacing">
        </div>

        <div class="input">
            <label for="content">Mouth Color Or Outline Color</label>
            <input type="text" id="$mouth color or outline color" name="$mouth color or outline color">
        </div>

        <div class="input">
            <label for="content">Mouth Inside Color</label>
            <input type="text" id="$mouth inside color" name="$mouth inside color">
        </div>

        <div class="input">
            <label for="content">Mouth Shape</label>
            <input type="text" id="$mouth shape" name="$mouth shape">
        </div>

        <div class="input">
            <label for="content">Lips</label>
            <input type="text" id="lips" name="lips">
        </div>

        <div class="input">
            <label for="content">Tongue</label>
            <input type="text" id="tongue" name="tongue">
        </div>

        <div class="input">
            <label for="content">Teeth Shape</label>
            <input type="text" id="$teeth shape" name="$teeth shape">
        </div>

        <div class="input">
            <label for="content">Mouth Motion</label>
            <input type="text" id="$mouth motion" name="$mouth motion">
        </div>

        <div class="input">
            <label for="content">Mouth Length</label>
            <input type="text" id="$mouth length" name="$mouth length">
        </div>

        <div class="input">
            <label for="content">Mouth Placement</label>
            <input type="text" id="$mouth placement" name="$mouth placement">
        </div>

        <div class="input">
            <label for="content">Nose Color</label>
            <input type="text" id="$nose color" name="$nose color">
        </div>

        <div class="input">
            <label for="content">Nose Shape</label>
            <input type="text" id="$nose shape" name="$nose shape">
        </div>

        <div class="input">
            <label for="content">Nose 3D</label>
            <input type="text" id="$nose 3d" name="$nose 3d">
        </div>

        <div class="input">
            <label for="content">Nose Size</label>
            <input type="text" id="$nose size" name="$nose size">
        </div>

        <div class="input">
            <label for="content">Nose Placement</label>
            <input type="text" id="$nose placement" name="$nose placement">
        </div>

        <div class="input">
            <label for="content">Nose Motion</label>
            <input type="text" id="$nose motion" name="$nose motion">
        </div>

        <div class="input">
            <label for="content">Eyebrow Color</label>
            <input type="text" id="$eyebrow color" name="$eyebrow color">
        </div>
        <div class="input">
            <label for="content">Eyebrow Shape</label>
            <input type="text" id="$eyebrow shape" name="$eyebrow shape">
        </div>

        <div class="input">
            <label for="content">Eyebrow Inner Edge Positions</label>
            <input type="text" id="$eyebrow inner edge positions" name="$eyebrow inner edge positions">
        </div>

        <div class="input">
            <label for="content">Eyebrow Independent Motion</label>
            <input type="text" id="$eyebrow independent motion" name="$eyebrow independent motion">
        </div>

        <div class="input">
            <label for="content">Eyebrow Motion</label>
            <input type="text" id="$eyebrow motion" name="$eyebrow motion">
        </div>

        <div class="input">
            <label for="content">Eyebrow Length</label>
            <input type="text" id="$eyebrow length" name="$eyebrow length">
        </div>

        <div class="input">
            <label for="content">Eyebrow Arch</label>
            <input type="text" id="$eyebrow arch" name="$eyebrow arch">
        </div>

        <div class="input">
            <label for="content">Cheek Color</label>
            <input type="text" id="$cheek color" name="$cheek color">
        </div>

        <div class="input">
            <label for="content">Cheek Shape</label>
            <input type="text" id="$cheek shape" name="$cheek shape">
        </div>

        <div class="input">
            <label for="content">Cheek Size</label>
            <input type="text" id="$cheek size" name="$cheek size">
        </div>

        <div class="input">
            <label for="content">Cheek Placement</label>
            <input type="text" id="$cheek placement" name="$cheek placement">
        </div>

        <div class="input">
            <label for="content">Cheek Spacing</label>
            <input type="text" id="$cheek spacing" name="$cheek spacing">
        </div>

        <div class="input">
            <label for="content">Hair Color</label>
            <input type="text" id="$hair color" name="$hair color">
        </div>

        <div class="input">
            <label for="content">Country/Region Of Origin</label>
            <input type="text" id="$country region of origin" name="$country region of origin">
        </div>

        <div class="input">
            <label for="content">Year</label>
            <input type="text" id="year" name="year">
        </div>

        <button type="submit">INSERT</button>
    </form>
</section>
<troll>
    <a href="/get-data" style="color:blue">Data</a>
</troll>